*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
#search-option {
    color: rgb(124, 124, 124);
    position: absolute;
    padding-top: 18px;
    padding-left: 15px;
}
#search-input:focus{
    outline: none;
}    
input#search-input {
    font-family: 'Roboto', sans-serif;
    height: 50px;
    font-size: 15px;
    width: 80%;
    font-weight: 600;
    color: #808080;
    background: hsla(0, 0%, 80%, 0.239);
    padding-left: 7%;
    border: none;
    border-radius: 5px 0 0 5px;
}
#button:focus{
    outline: none;
}
#button {
    font-family: 'Roboto', sans-serif;
    border: none;
    font-size: 16px;
    padding: 13px;
    color: white;
    background: hsl(11, 84%, 62%);
    font-weight: 700;
    border-radius: 0 5px 5px 0;
}
a{
    text-decoration: none !important;
}
.seat{
    border-radius: 10px;
    background-color: hsla(0, 0%, 80%, 0.412);
}
img#meal-images {
    border-radius: 10px 10px 0 0;
}

p#meal-paragraph {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 15px 0;
    color: #000000;
    font-weight: 700;
}
.fault {
    color: red;
    text-align: center !important;
    font-size: 22px;
    font-weight: 700;
    margin: auto;
}
div#meal-substance img {
    width: 100%;
    border-radius: 10px;
}
div#meal-substance {
    text-align: center;
}
.meal-text h2{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: black;
    font-weight: 700;
    margin: 15px 0;
}
#text-details li span i{
    color: hsl(11, 84%, 62%);
}
#text-details{
    list-style: none;
    margin-left: -30px;
    margin-top: 20px;
}